.Container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

$large: 768px;
@media (max-width: $large) {
  .Container {
    top: 16px;
    padding-bottom: 6rem;
  }
}
