@import 'src/defaults';

.CartContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  position: fixed;
  margin: auto;
  top: 120px;
  background: $white;
  z-index: 20;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #51b1a6;
  padding: 1rem 0.75rem;

  .Container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .ItemContainer {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    min-height: 8rem;
    background: $white;
    z-index: 20;
    border-radius: 1rem;
    overflow: scroll;
    padding: 0 0.75rem;
  }

  .InfoContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px #51b1a6;
    padding: 1rem 0.75rem;

    button {
      margin: 1rem auto 0;
    }

    .PriceContainer {
      text-align: left;
    }
  }
}

$small: 375px;
$medium: 425px;
$large: 768px;
$xlarge: 1024px;

@media (max-width: $xlarge) {
  .CartContainer {
    flex-direction: column;
    border-radius: none;
    box-shadow: none;

    .Container {
      .ItemContainer {
        margin: 0 auto;
        max-height: 50%;
      }

      .InfoContainer {
        position: absolute;
        bottom: 1rem;
        left: calc(50% - 108px);
      }
    }
  }
}

@media (max-width: $large) {
  .CartContainer {
    width: 100vw;
    height: calc(100vh - 100px);
    top: 0;
  }
}

@media (max-width: $medium) {
}

@media (max-width: $small) {
}
