@import '/src/defaults';

.Container {
  width: 100%;
  height: 100%;

  .HomepageIntro {
    width: 100%;
    height: 400px;
    background-image: url('../assets/images/mainbackground.png');
    background-size: cover;
    background-position: bottom;
    border-radius: 1rem;
    position: relative;
  }

  .ProductContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(353px, 1fr));
  }

}