@import './src/defaults';

.SignUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadius);
  margin: 1rem auto 0;
  padding: 1rem;
  max-width: 84vw;

  .SignUpForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 1rem;
  }

  .InputForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .InputForm {
    position: relative;
    .InputBox {
      display: flex;
      align-items: center;
      border: 1px solid black;
      border-radius: var(--borderRadius);
      background: transparent;
      padding: 2px;
    }
    .Checkbox {
      position: absolute;
      top: 52px;
      right: 44px;
    }
    input[type=checkbox] {
      display: none;
    }

    input {
      max-width: 256px;
      border: transparent;
      outline: none;
      background: white;
    }

    .CheckoutBtn {
      border-radius: var(--borderRadius);
      padding: 0.3rem;
      background: var(--btnStatic);
      color: var(--btnColor);
      font-weight: bold;
    }
    .CheckoutBtn:hover {
      background: var(--btnHover);
      cursor: pointer;
    }
    .CheckoutBtn:active {
      background: var(--btnActive);
    }
    .DisabledBtn {
      border-radius: var(--borderRadius);
      padding: 0.3rem;
      background: var(--btnDisabledBackground);
      color: var(--btnDisabledColor);
      font-weight: bold;
      cursor: default;
    }

    .Error {
      color: var(--error);
      font-size: 0.5rem;
      max-width: 190px;
    }
  }

  .Btn {
    width: 100%;
    max-width: 172px;
    border: var(--btnBorder);
    border-radius: var(--borderRadius);
    padding: 2px 6px;
    background: var(--btnStatic);
    color: var(--btnColor);
    font-weight: bold;
  }
  .Btn:hover {
    background: var(--btnHover);
    cursor: pointer;
  }
  .Btn:active {
    background: var(--btnActive);
  }

  .FacebookBtn {
    background: #4267B2;
    border: transparent;
    padding: 12px 20px;
    width: 327px;
    height: 48px;
    color: $white;
    border-radius: 56px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
  }
  .FacebookBtn:hover {
    cursor: pointer;
  }
  .FacebookBtn:active {
    background: #104fb0;
  }

  .Nothing {
    display: none;
  }
  .Something {
    display: block;
    color: $error;
  }

  .SignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}