// Color Styles
$primary: #51B1A6;
$secondary: #5E5BD9;
$dark: #24243F;
$accentDark: #E1E5EB;
$accent: #F5F7FA;
$light: #FAFCFE;
$error: #ED4B68;
$success: #31D0AA;
$warning: #FFB802;

// Text
$text: #5A5A75;
$subtleText: #888E9A;
$white: #FFFFFF;

// Backgrounds
$pearl-bush: linear-gradient(0.25turn, #E5DADC, #D3CCC4);
$ash: linear-gradient(0.25turn, #DAE0E5, #C4C9D3);
$greenish-yellow: linear-gradient(0.25turn, #E1E5DA, #CED3C4);
$misty-rose: linear-gradient(0.25turn, #E5DADF, #CEBCBF);
$buttonDisabled: #D3D9DF;

// Accents
$pearl-bush-acc: #FFFAF5;
$ash-acc: #F5F7FA;
$greenish-yellow-acc: #F4F9F2;
$misty-rose-acc: #F7F0F4;

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}