@import 'defaults';

.App {
  @include center();
  flex-direction: column;
  text-align: center;

  .Center {
    @include center();
  }

  .DesktopNav {
    position: fixed;
    top: 0;
    margin: 0 auto 1rem;
    padding: 0 2rem;
    background: white;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    height: 100px;

    .NavBar {
      width: 100%;
      max-width: fit-content;
      justify-content: space-between;
      gap: 58px;
    }
  }

  .TestDisplay {
    @include center();
    flex-direction: column;
    gap: 0.4rem;
  }

  .Chip {
    padding: 8px 16px;
    width: 60px;
    min-width: fit-content;
    height: 34px;
    border-radius: 24px;
    background: $accent;
    color: $dark;
  }
  .Chip.Active {
    background: $primary;
    color: $white;
  }

  .Badge {
    padding: 6px;
    width: 20px;
    height: 20px;
    background: $warning;
    border-radius: 8px;
    color: $dark;
  }
  .Badge.Default {
    background: $primary;
    color: $white;
  }

  .Button {
    padding: 12px 20px;
    width: 327px;
    height: 48px;
    background: $primary;
    color: $white;
    border-radius: 56px;
    border: none;
  }
  .Button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .Button.Disabled {
    color: $subtleText;
    background: $buttonDisabled;
  }
  .Button.Disabled:hover {
    opacity: 1;
    cursor: default;
  }

  .Product {
    transition: transform 0.3s ease-in-out;
  }
  .Product:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .Card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    width: 159px;
    height: 279px;
    border: 1px solid $accentDark;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 1rem auto;

    .ProductImageContainer {
      background: $pearl-bush;
      border-radius: 15px 15px 0 0;
      width: 100%;

      img {
        width: 129.9px;
        height: 146.68px;
        position: relative;
        top: 2px;
        right: -10px;
        z-index: 0;
      }
      svg {
        position: relative;
        top: -110px;
        right: 10px;
      }
      svg:hover {
        background: $dark;
        border-radius: 1rem;
        cursor: pointer;
      }
    }

    .ProductContent {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px 12px;

      .Price {
        color: $primary;
      }
    }
  }

  .CategoryCard.AllCard {
    div > img {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 1rem;
    }
  }

  .CategoryHeight {
    height: 110px;
  }

  .CategoryCard {
    border: 1px solid $accentDark;
    height: 152px;

    .CategoryContent {
      justify-content: flex-start;
      z-index: 5;
      margin: 0;
      width: 100%;
      height: 42px;
      padding: 10px 16px;
      background: $pearl-bush-acc;
      border-radius: 0 0 16px 16px;
    }
    .CategoryContent.card1 {
      background: $pearl-bush-acc;
    }
    .CategoryContent.card2 {
      background: $misty-rose-acc;
    }
    .CategoryContent.card3 {
      background: $greenish-yellow-acc;
    }
    .CategoryContent.card4 {
      background: $ash-acc;
    }
    .CategoryContent.Active {
      background: $primary;
    }
  }

  .CartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 335px;
    height: 87px;
    background: #ffffff;
    border: 1px solid #e1e5eb;
    border-radius: 20px;
    margin: 16px 0;
    gap: 10px;

    .ItemImage {
      background: $pearl-bush;
      border-radius: 16px;
      width: 67px;
      height: 67px;
      position: relative;

      img {
        width: 56px;
        height: 56px;
        position: relative;
        top: 4px;
      }
    }

    .ItemContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0;
      width: 235px;
      height: 67px;
      align-self: stretch;

      .BodyText {
        margin: 0;
      }

      .ItemPriceQty {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 235px;
        height: 36px;
        align-self: stretch;

        div:first-child {
          text-align: left;
          flex: 2;
        }
      }
    }

    .CartItemBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px;
      width: 36px;
      height: 36px;
      background: #f5f7fa;
      border-radius: 13px;
      margin: 0 16px;
    }
  }

  .BackArrowBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 36px;
    height: 36px;
    background: #f5f7fa;
    border-radius: 13px;
    margin: 0 16px;
    transition: transform 0.3s ease-in-out;
  }
  .BackArrowBtn:hover {
    transform: rotate(360deg);
    cursor: pointer;
  }

  .BasicInput {
    border: none;
    width: 100%;
    padding: 0 1rem;
    line-height: 1.5;
    background: transparent;
    text-align: left;
    outline: none;
  }
  .BasicInput:focus {
    border-radius: 16px;
  }

  .Input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $subtleText;
    width: 16rem;
    height: 3rem;
    background: $white;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 0.5rem 0 1rem;
    position: relative;

    svg {
      position: absolute;
      right: 16px;
    }
  }
  .Input.Success {
    border: 1px solid $success;
    box-shadow: 0 0 0 4px #e4fff8;
  }
  .Input.Error {
    border: 1px solid $error;
    box-shadow: 0 0 0 4px #ffe4ec;
  }

  .Navigation {
    width: 54px;
    height: 54px;
    border-radius: 16px;
    margin: 0 auto;
    position: relative;

    .Badge {
      position: absolute;
      top: -10px;
      right: -10px;
    }
  }
  .Navigation:hover {
    background: $secondary;
  }
  .Navigation.Active {
    background: $primary;
  }

  .FloatingCartInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 12px 12px 12px 20px;
    width: 334px;
    height: 51px;
    background: $primary;
    border-radius: 16px;
    margin-bottom: 1rem;

    div {
      color: $white;
    }

    .Chip {
      color: $primary;
    }
  }
}

$small: 375px;
$medium: 425px;
$large: 768px;
@media (max-width: $large) {
  .App .DesktopNav {
    bottom: 0;
    top: revert;
    margin: 0;
    padding: 16px;
    border-top: 3px solid $primary;

    span {
      display: none;
    }

    .NavBar {
      max-width: none;
    }
  }

  .CategoryCard.Card {
    height: fit-content;

    .ProductImageContainer {
      display: none;
    }
    .CategoryContent {
      border-radius: 1rem;
    }
  }
}

@media (max-width: $medium) {
}

@media (max-width: $small) {
}

@media (hover: none) {
  .Navigation {
    background: transparent;
  }
}
